<div id="<%= dom_id child %>">
  <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= child.sex %>
  </p>

  <p>
    <strong>Father:</strong>
    <%= child.father.name %>
  </p>

</div>
