<h1>Editing annotation</h1>

<%= render "form", annotation: @annotation %>

<br>

<div>
  <%= link_to "Show this annotation", @annotation %> |
  <%= link_to "Back to annotations", annotations_path %>
</div>
